a {
    text-decoration: none;
    color:whitesmoke;
}

a:hover,
a:active {
    color: #77d1e3;
    cursor: pointer;
}

.navigation-items {
    list-style-type: none;
    padding: 0 20px;
    margin: 0;
}

.mat-toolbar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background-image: linear-gradient(to bottom right,#0c70a6, #77d1e3);


}


