.mat-table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    min-width: 600px;
    max-width: 1120px;
}

.table-container {
    height: 800px;
    overflow: auto;
}

.mat-cell,
.mat-header-cell {
    text-align: left;
    word-wrap: initial;
    display: table-cell;
    padding: 0px 8px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

::ng-deep .mat-form-field-label {
    color: white !important;
}

::ng-deep.mat-form-field-underline {
    background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
    background-color: white !important;
}

input,
select,
textarea {
    color: white;
}

.measurement-wrapper {
    margin-top: 2px;
    padding-top: 16px;
    font-family: 'PT Sans', sans-serif;
    background: linear-gradient(-120deg, #0c70a6, #2aa4bd, #cc4cac, #c5954c);
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}